

h1 {

color: brown;
font-style: italic;

}

h2 {

color: blue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



button{

    
    border-color:blue;
    border-width: 10px;

}

img {
    border: 10px solid red;


width: 400px;
height: 300px;


}