h1 {
    color: #0a52fe;
    font-size: 60px;
    padding-left: 50px;
    background-color: rgb(146, 245, 255);
}

p {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* altGr + 7 = { */
