h1 {
    /* color: red; */
}

h2 {
    /*
    color: #f00;
    font-style: italic;
    */
}

p{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    border-color: blue;
    border-width: 5px;
}